# Тестовоe задание на позицию junior-аналитика в Банк ВТБ

Из видео https://www.youtube.com/watch?v=vG6_1zIiuao от Simulative

In [2]:
import pandas as pd
import sqlite3 as sql

    client_id   segment period product          pl
0  ZDosW1zUAi  Массовый    p_1  Кредит    9.018067
1  wVRHQ9hzrw  Массовый    p_1  Кредит   18.889585
2  6DZQIaOyL3  Массовый    p_1  Кредит    0.369257
3  jDwO0sMhL2  Массовый    p_1  Кредит  124.315319
4  FXIJUkgjLy  Массовый    p_1  Кредит   41.287831

In [3]:
with sql.connect('../data_ignored/database.db') as con:
    pl_df = pd.read_sql_query('SELECT * FROM pl', con=con)

pl_df.head()

    client_id   segment period product          pl
0  ZDosW1zUAi  Массовый    p_1  Кредит    9.018067
1  wVRHQ9hzrw  Массовый    p_1  Кредит   18.889585
2  6DZQIaOyL3  Массовый    p_1  Кредит    0.369257
3  jDwO0sMhL2  Массовый    p_1  Кредит  124.315319
4  FXIJUkgjLy  Массовый    p_1  Кредит   41.287831

In [10]:
with sql.connect('../data_ignored/database.db') as con:
    campaign = pd.read_sql_query('SELECT * FROM campaign', con=con)

campaign.head()

    client_id product                  response     manager_id
0  owOyJEIst9  Кредит                  Согласие  CM_EiBeeRMhdA
1  HkhuPN1KG7  Кредит  Не обработано менеджером  CM_PzEEav4ic0
2  x1rEdC5fys  Кредит                  Согласие  CM_RCwv1r0OHO
3  fx0acVADvj  Кредит                  Согласие  CM_nJ7j5pAcMB
4  nDNNydkKQR  Кредит                  Согласие  CM_EiBeeRMhdA

In [6]:
pl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92609 entries, 0 to 92608
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  92609 non-null  object
 1   segment    92609 non-null  object
 2   period     92609 non-null  object
 3   product    92609 non-null  object
 4   pl         92609 non-null  float64
dtypes: float64(1), object(4)
memory usage: 3.5+ MB

In [20]:
len(pl_df.groupby(['client_id', 'period', 'product']))

92609

Один и тот же клиент не может быть в 2 разных сегментах, но может быть в разных продуктах и периодах

In [22]:
pl_df.nunique()

client_id    24992
segment          3
period           2
product          5
pl           92609
dtype: int64

In [11]:
campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   client_id   5000 non-null   object
 1   product     5000 non-null   object
 2   response    5000 non-null   object
 3   manager_id  5000 non-null   object
dtypes: object(4)
memory usage: 156.4+ KB

In [23]:
campaign.nunique()

client_id     5000
product          1
response         5
manager_id      20
dtype: int64

In [25]:
campaign['product'].unique()

array(['Кредит'], dtype=object)

Рекламная кампания проводилась только по продукту "Кредит"