Задачи из курса LeetCode "30 Days of Pandas": https://leetcode.com/studyplan/30-days-of-pandas/

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
sns.set()
pd.set_option('display.max_columns', None)

### #30 607. Sales Person

Write a solution to find the names of all the salespersons who did not have any orders related to the company with the name "RED".  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    lst = set(pd.merge(orders, company).query("name == 'RED'").sales_id.to_list())
    return sales_person[~sales_person.sales_id.isin(lst)][['name']]

### #29 570. Managers with at Least 5 Direct Reports

Write a solution to find managers with at least five direct reports.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    masters = employee[['managerId']].value_counts().reset_index()
    masters.columns = ['managerId', 'cnt']
    masters = masters.query("cnt >= 5")
    return pd.merge(employee, masters, left_on='id', right_on='managerId')[['name']]

### #28 1280. Students and Examinations

Write a solution to find the number of times each student attended each exam.  
Return the result table ordered by student_id and subject_name.  
The result format is in the following example.

In [ ]:
import pandas as pd

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    examinations['attended_exams'] = 1
    answer = (
        pd.merge(
            pd.merge(subjects, students, how='cross'),
            examinations,
            how='left'
        )
        .groupby(['student_id', 'student_name', 'subject_name'], as_index=False)
        .sum()
    )
    answer.attended_exams = answer.attended_exams.astype('int')
    return answer

### #27 1378. Replace Employee ID With The Unique Identifier

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    return pd.merge(employee_uni, employees, how='right').iloc[:, 1:]

### #26 1050. Actors and Directors Who Cooperated At Least Three Times

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    return (
        actor_director
        .groupby(['actor_id', 'director_id'], as_index=False)
        .count()
        .query("timestamp >= 3")
        .iloc[:, 0:2]
    )

### #25 1693. Daily Leads and Partners

For each date_id and make_name, find the number of distinct lead_id's and distinct partner_id's.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    return (
        daily_sales
            .groupby(['date_id', 'make_name'], as_index=False)
            .nunique()
            .rename(
                columns={
                    'lead_id': 'unique_leads'
                    , 'partner_id': 'unique_partners'
                }
        )
    )

### #24 Group Sold Products By The Date

Write a solution to find for each date the number of different products sold and their names.  
The sold products names for each date should be sorted lexicographically.  
Return the result table ordered by sell_date.  
The result format is in the following example.

In [ ]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    answer_1 = activities.groupby('sell_date', as_index=False).nunique()
    answer_2 = activities.groupby('sell_date').product.unique()
    answer_2.apply(lambda x: x.sort())
    answer_2 = answer_2.reset_index()
    answer_2['products'] = answer_2['product'].apply(lambda x: ','.join(x))
    answer = pd.merge(
        answer_1, answer_2[['sell_date', 'products']], 
        left_on='sell_date', right_on='sell_date'
    )
    answer.columns = ['sell_date', 'num_sold', 'products']
    return  answer

### #23 586. Customer Placing the Largest Number of Orders

Write a solution to find the customer_number for the customer who has placed the largest number of orders.  
The test cases are generated so that exactly one customer will have placed more orders than any other customer.  
The result format is in the following example.

In [ ]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    if orders.empty:
        answer = pd.DataFrame({'customer_number': []})
    else:
        answer = pd.DataFrame({'customer_number': [orders.customer_number.value_counts().idxmax()]})
        
    return answer

### #22 596. Classes More Than 5 Students

Write a solution to find all the classes that have at least five students.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    answer = courses.groupby(['class'], as_index=False).count()
    return answer[answer.student >= 5][['class']]

### #21 2356. Number of Unique Subjects Taught by Each Teacher

Write a solution to calculate the number of unique subjects each teacher teaches in the university.  
Return the result table in any order.  
The result format is shown in the following example.

In [ ]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    return  (
        teacher[['teacher_id', 'subject_id']]
        .groupby(['teacher_id', 'subject_id'], as_index=False)
        .count()
        .groupby('teacher_id', as_index=False)
        .count()
        .rename(columns={'subject_id': 'cnt'})
    )

### #20 511. Game Play Analysis I

Write a solution to find the first login date for each player.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    return (
        activity[['player_id', 'event_date']]
        .groupby('player_id', as_index=False)
        .min()
        .rename(columns={'event_date': 'first_login'})
    )

### #19 1741. Find Total Time Spent by Each Employee

Write a solution to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['total_time'] = employees.out_time - employees.in_time 
    return (
        employees
        .groupby(['event_day', 'emp_id'], as_index=False)
        .sum(['total_time'])
        [['event_day', 'emp_id', 'total_time']].
        rename(columns={'event_day': 'day'})
    )

### #18 1907. Count Salary Categories

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:  
+ "Low Salary"\: All the salaries strictly less than \$20000  
+ "Average Salary"\: All the salaries in the inclusive range \$20000-\$50000  
+ "High Salary"\: All the salaries strictly greater than \$50000.  

The result table must contain all three categories. If there are no accounts in a category, return 0.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    categories = pd.DataFrame(
        {
            'category': ['Low Salary', 'Average Salary', 'High Salary']
        }
    )
    accounts['category'] = accounts.income.map(
        lambda x: 
        'Low Salary' if x < 20000 else 
        'High Salary' if x > 50000 else 
        'Average Salary'
        )
    return (
        categories
        .merge(accounts, how='left')
        .groupby('category', as_index=False)
        .count()
        .iloc[:, :2]
        .rename(columns={'account_id': 'accounts_count'})
        )

### #17 1173. Immediate Food Delivery I

In [ ]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({
        'immediate_percentage': 
        [(delivery.order_date == delivery.customer_pref_delivery_date)
        .mean()
        .round(4) 
        * 100
    ]})

### #16 2082. The Number of Rich Customers

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({'rich_count': [(store.groupby('customer_id').amount.max() > 500).sum()]})

### #15 1795. Rearrange Products Table

Write a solution to rearrange the Products table so that each row has (product_id, store, price). If a product is not available in a store, do not include a row with that product_id and store combination in the result table.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    df1 = products.set_index('product_id')
    df1 = df1.stack()
    df1 = df1.reset_index()
    df1 = df1.dropna()
    df1.columns = ['product_id', 'store', 'price']
    return df1

### #14 196. Delete Duplicate Emails

Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.  
For SQL users, please note that you are supposed to write a DELETE statement and not a SELECT one.  
For Pandas users, please note that you are supposed to modify Person in place.  
After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.  
The result format is in the following example.

In [ ]:
import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values('id', inplace=True)
    person.drop_duplicates(subset=['email'], inplace=True)

### #13 178. Rank Scores

Write a solution to find the rank of the scores. The ranking should be calculated according to the following rules:  

- The scores should be ranked from the highest to the lowest.
- If there is a tie between two scores, both should have the same ranking.
- After a tie, the next ranking number should be the next consecutive integer value. In other words, there should be no holes between ranks.

Return the result table ordered by score in descending order.

The result format is in the following example.

In [ ]:
import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores = scores.sort_values('score', ascending=False)
    scores['rank'] = scores.score.rank(method='dense', ascending=False)
    return scores.iloc[:, 1:]

### #12 184. Department Highest Salary

Write a solution to find employees who have the highest salary in each of the departments.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    
    records = (
        employee
        .merge(department, left_on='departmentId', right_on='id', suffixes=['_e', '_d'])
        .groupby(['id_d', 'name_d'], as_index=False)
        .salary
        .max()
    )
    
    answer = (
        records
        .merge(employee, left_on=['id_d', 'salary'], right_on=['departmentId', 'salary'])
        [['name_d', 'name', 'salary']]
    )
    
    answer.columns = ['Department', 'Employee', 'Salary']
    
    return answer

### #11 176. Second Highest Salary

Write a solution to find the second highest salary from the Employee table. If there is no second highest salary, return null (return None in Pandas).  
The result format is in the following example.

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if df1.shape[0] < 2:
        nlarg = None
    else:
        nlarg = df1[1]
    return pd.DataFrame(data={'SecondHighestSalary': [nlarg]})

### #10 177. Nth Highest Salary

Write a solution to find the nth highest salary from the Employee table. If there is no nth highest salary, return null.  
The result format is in the following example.

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if N > df1.shape[0]:
        nlarg = np.nan
    else:
        nlarg = df1[N - 1]
    return pd.DataFrame(data={f'getNthHighestSalary({N})': [nlarg]})

### #09 1527. Patients With a Condition

Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    return patients[patients.conditions.apply(lambda x: 'DIAB1' in str(x)[:5] or ' DIAB1' in str(x))]

### #08 1517. Find Users With Valid E-Mails

Write a solution to find the users who have valid emails.  
A valid e-mail has a prefix name and a domain where:

- The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
- The domain is '@leetcode.com'.
- Return the result table in any order.

The result format is in the following example.

In [ ]:
import pandas as pd

def validate(df: pd.DataFrame):
    N = df.shape[0]
    leetcode = pd.Series([False] * N, dtype='bool')
    valid = pd.Series([False] * N, dtype='bool')
    for i in range(df.shape[0]):
        if df.loc[i, 'mail'][-13:] == '@leetcode.com':
            leetcode[i] = True
            for char in df.loc[i, 'mail'][:-13]:
                if df.loc[i, 'mail'][0].isalpha():
                    if not (char.isalnum() or char in '_-.'):
                        valid[i] = False
                        break
                else:
                    valid[i] = False
                    break
            else:
                valid[i] = True
    return leetcode & valid

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[validate(users)]

### #07 1667. Fix Names in a Table

Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.  
Return the result table ordered by user_id.  
The result format is in the following example.

In [8]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.str.lower().str.capitalize()
    return users.sort_values('user_id')

### #06 1873. Calculate Special Bonus

Write a solution to calculate the bonus of each employee. The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'. The bonus of an employee is 0 otherwise.  
Return the result table ordered by employee_id.  
The result format is in the following example.

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = 0
    employees['bonus'][(employees.employee_id  % 2) & (~employees.name.str.startswith('M'))] = employees.salary
    return employees[['employee_id', 'bonus']].sort_values('employee_id')

### #05 1683. Invalid Tweets

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.  
Return the result table in any order.  
The result format is in the following example.

In [9]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets.content.str.len() > 15][['tweet_id']]

### #04 1148. Article Views I

Write a solution to find all the authors that viewed at least one of their own articles.  
Return the result table sorted by id in ascending order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame(np.sort(views.query("author_id == viewer_id").author_id.unique()), columns=['id'])

### #03 183. Customers Who Never Order

Write a solution to find all customers who never order anything.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(customers, orders, left_on='id', right_on='customerId', suffixes=['_c', '_o'], how='left')
    return df[df.id_o.isna()].loc[:, 'name':'name'].rename(columns={'name': 'Customers'})

### #02 1757. Recyclable and Low Fat Products

Write a solution to find the ids of products that are both low fat and recyclable.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.query("low_fats == 'Y' & recyclable == 'Y'").loc[:, 'product_id':'product_id']

### #01 595. Big Countries

A country is big if:

- it has an area of at least three million (i.e., 3000000 km2), or
- it has a population of at least twenty-five million (i.e., 25000000).

Write a solution to find the name, population, and area of the big countries.  
Return the result table in any order.  
The result format is in the following example.

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[['name', 'population', 'area']][(world.population >= 25000000) | (world.area >= 3000000)]

In [3]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [47]:
employee = pd.DataFrame(
    {
        'id': [*range(1, 7)], 
        'score': [3.50, 3.65, 4.0, 3.85, 4.0, 3.65]
    }
)

employee

   id  score
0   1   3.50
1   2   3.65
2   3   4.00
3   4   3.85
4   5   4.00
5   6   3.65

In [56]:
employee = employee.sort_values('score', ascending=False)

In [60]:
employee['rank'] = employee.score.rank(method='dense', ascending=False)

   id  score  rank
2   3   4.00   1.0
4   5   4.00   1.0
3   4   3.85   2.0
1   2   3.65   3.0
5   6   3.65   3.0
0   1   3.50   4.0

In [61]:
employee.iloc[:, 1:]

   score  rank
2   4.00   1.0
4   4.00   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0   3.50   4.0

In [53]:
??employee.rank

Signature:
employee.rank(
    axis=0,
    method: 'str' = 'average',
    numeric_only: 'bool_t | None' = None,
    na_option: 'str' = 'keep',
    ascending: 'bool_t' = True,
    pct: 'bool_t' = False,
) -> 'FrameOrSeries'
Source:
    @final
    def rank(
        self: FrameOrSeries,
        axis=0,
        method: str = "average",
        numeric_only: bool_t | None = None,
        na_option: str = "keep",
        ascending: bool_t = True,
        pct: bool_t = False,
    ) -> FrameOrSeries:
        """
        Compute numerical data ranks (1 through n) along axis.

        By default, equal values are assigned a rank that is the average of the
        ranks of those values.

        Parameters
        ----------
        axis : {0 or 'index', 1 or 'columns'}, default 0
            Index to direct ranking.
        method : {'average', 'min', 'max', 'first', 'dense'}, default 'average'
            How to rank the group of records that have the same value (i.e. ties):

            * average: average rank of the group
            * min: lowest rank in the group
            * max: highest rank in the group
            * first: ranks assigned in order they appear in the array
            * dense: like 'min', but rank always increases by 1 between groups.

        numeric_only : bool, optional
            For DataFrame objects, rank only numeric columns if set to True.
        na_option : {'keep', 'top', 'bottom'}, default 'keep'
            How to rank NaN values:

            * keep: assign NaN rank to NaN values
            * top: assign lowest rank to NaN values
            * bottom: assign highest rank to NaN values

        ascending : bool, default True
            Whether or not the elements should be ranked in ascending order.
        pct : bool, default False
            Whether or not to display the returned rankings in percentile
            form.

        Returns
        -------
        same type as caller
            Return a Series or DataFrame with data ranks as values.

        See Also
        --------
        core.groupby.GroupBy.rank : Rank of values within each group.

        Examples
        --------
        >>> df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
        ...                                    'spider', 'snake'],
        ...                         'Number_legs': [4, 2, 4, 8, np.nan]})
        >>> df
            Animal  Number_legs
        0      cat          4.0
        1  penguin          2.0
        2      dog          4.0
        3   spider          8.0
        4    snake          NaN

        The following example shows how the method behaves with the above
        parameters:

        * default_rank: this is the default behaviour obtained without using
          any parameter.
        * max_rank: setting ``method = 'max'`` the records that have the
          same values are ranked using the highest rank (e.g.: since 'cat'
          and 'dog' are both in the 2nd and 3rd position, rank 3 is assigned.)
        * NA_bottom: choosing ``na_option = 'bottom'``, if there are records
          with NaN values they are placed at the bottom of the ranking.
        * pct_rank: when setting ``pct = True``, the ranking is expressed as
          percentile rank.

        >>> df['default_rank'] = df['Number_legs'].rank()
        >>> df['max_rank'] = df['Number_legs'].rank(method='max')
        >>> df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
        >>> df['pct_rank'] = df['Number_legs'].rank(pct=True)
        >>> df
            Animal  Number_legs  default_rank  max_rank  NA_bottom  pct_rank
        0      cat          4.0           2.5       3.0        2.5     0.625
        1  penguin          2.0           1.0       1.0        1.0     0.250
        2      dog          4.0           2.5       3.0        2.5     0.625
        3   spider          8.0           4.0       4.0        4.0     1.000
        4    snake          NaN           NaN       NaN        5.0       NaN
        """
        axis = self._get_axis_number(axis)

        if na_option not in {"keep", "top", "bottom"}:
            msg = "na_option must be one of 'keep', 'top', or 'bottom'"
            raise ValueError(msg)

        def ranker(data):
            ranks = algos.rank(
                data.values,
                axis=axis,
                method=method,
                ascending=ascending,
                na_option=na_option,
                pct=pct,
            )
            # error: Argument 1 to "NDFrame" has incompatible type "ndarray"; expected
            # "Union[ArrayManager, BlockManager]"
            ranks_obj = self._constructor(
                ranks, **data._construct_axes_dict()  # type: ignore[arg-type]
            )
            return ranks_obj.__finalize__(self, method="rank")

        # if numeric_only is None, and we can't get anything, we try with
        # numeric_only=True
        if numeric_only is None:
            try:
                return ranker(self)
            except TypeError:
                numeric_only = True

        if numeric_only:
            data = self._get_numeric_data()
        else:
            data = self

        return ranker(data)
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method