Задачи из: https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()
pd.set_option('display.max_columns', None)

#01 595. Big Countries

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[['name', 'population', 'area']][(world.population >= 25000000) | (world.area >= 3000000)]

#02 1757. Recyclable and Low Fat Products

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.query("low_fats == 'Y' & recyclable == 'Y'").loc[:, 'product_id':'product_id']

#03 183. Customers Who Never Order

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(customers, orders, left_on='id', right_on='customerId', suffixes=['_c', '_o'], how='left')
    return df[df.id_o.isna()].loc[:, 'name':'name'].rename(columns={'name': 'Customers'})

#04 1148. Article Views I

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame(np.sort(views.query("author_id == viewer_id").author_id.unique()), columns=['id'])

#05 1683. Invalid Tweets

In [9]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets.content.str.len() > 15][['tweet_id']]

#06 1873. Calculate Special Bonus

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = 0
    employees['bonus'][(employees.employee_id  % 2) & (~employees.name.str.startswith('M'))] = employees.salary
    return employees[['employee_id', 'bonus']].sort_values('employee_id')

#07 1667. Fix Names in a Table

In [8]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.str.lower().str.capitalize()
    return users.sort_values('user_id')

#08 1517. Find Users With Valid E-Mails

In [ ]:
import pandas as pd

def validate(df: pd.DataFrame):
    N = df.shape[0]
    leetcode = pd.Series([False] * N, dtype='bool')
    valid = pd.Series([False] * N, dtype='bool')
    for i in range(df.shape[0]):
        if df.loc[i, 'mail'][-13:] == '@leetcode.com':
            leetcode[i] = True
            for char in df.loc[i, 'mail'][:-13]:
                if df.loc[i, 'mail'][0].isalpha():
                    if not (char.isalnum() or char in '_-.'):
                        valid[i] = False
                        break
                else:
                    valid[i] = False
                    break
            else:
                valid[i] = True
    return leetcode & valid

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[validate(users)]

#09 1527. Patients With a Condition

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    return patients[patients.conditions.apply(lambda x: 'DIAB1' in str(x)[:5] or ' DIAB1' in str(x))]

#10 177. Nth Highest Salary

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if N > df1.shape[0]:
        nlarg = np.nan
    else:
        nlarg = df1[N - 1]
    return pd.DataFrame(data={f'getNthHighestSalary({N})': [nlarg]})

#11 176. Second Highest Salary

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if df1.shape[0] < 2:
        nlarg = None
    else:
        nlarg = df1[1]
    return pd.DataFrame(data={'SecondHighestSalary': [nlarg]})

#14 196. Delete Duplicate Emails

In [ ]:
import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values('id', inplace=True)
    person.drop_duplicates(subset=['email'], inplace=True)

#15 1795. Rearrange Products Table

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    df1 = products.set_index('product_id')
    df1 = df1.stack()
    df1 = df1.reset_index()
    df1 = df1.dropna()
    df1.columns = ['product_id', 'store', 'price']
    return df1

#16 2082. The Number of Rich Customers

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({'rich_count': [(store.groupby('customer_id').amount.max() > 500).sum()]})

#17 1173. Immediate Food Delivery I

In [ ]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({
        'immediate_percentage': 
        [(delivery.order_date == delivery.customer_pref_delivery_date)
        .mean()
        .round(4) 
        * 100
    ]})

#19 1741. Find Total Time Spent by Each Employee

In [ ]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees['total_time'] = employees.out_time - employees.in_time 
    return (
        employees
        .groupby(['event_day', 'emp_id'], as_index=False)
        .sum(['total_time'])
        [['event_day', 'emp_id', 'total_time']].
        rename(columns={'event_day': 'day'})
    )

#20 511. Game Play Analysis I

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    return (
        activity[['player_id', 'event_date']]
        .groupby('player_id', as_index=False)
        .min()
        .rename(columns={'event_date': 'first_login'})
    )

#21 2356. Number of Unique Subjects Taught by Each Teacher

In [ ]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    return  (
        teacher[['teacher_id', 'subject_id']]
        .groupby(['teacher_id', 'subject_id'], as_index=False)
        .count()
        .groupby('teacher_id', as_index=False)
        .count()
        .rename(columns={'subject_id': 'cnt'})
    )

#22 596. Classes More Than 5 Students

In [ ]:
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    answer = courses.groupby(['class'], as_index=False).count()
    return answer[answer.student >= 5][['class']]

#23 586. Customer Placing the Largest Number of Orders

!!! не решено !!!

In [ ]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({'customer_number': [orders.groupby('customer_number').count().idxmax()]})

In [ ]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    if orders.empty:
        answer = ''
    else:
        answer = orders.groupby('customer_number').count().idxmax()
    return pd.DataFrame({'customer_number': [answer]})

In [66]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [67]:
df = df.dropna().copy()

In [68]:
df['date'] = pd.to_datetime(df.pickup).dt.date

In [69]:
answer_1 = df[['date', 'pickup_borough']].groupby('date').nunique()
answer_1.head()

            pickup_borough
date
2019-02-28               1
2019-03-01               4
2019-03-02               3
2019-03-03               4
2019-03-04               4

In [101]:
answer_2 = df[['date', 'pickup_borough']].groupby('date').pickup_borough.unique()
answer_2.head()

date
2019-02-28                                [Queens]
2019-03-01    [Manhattan, Queens, Bronx, Brooklyn]
2019-03-02           [Manhattan, Queens, Brooklyn]
2019-03-03    [Manhattan, Queens, Brooklyn, Bronx]
2019-03-04    [Manhattan, Bronx, Queens, Brooklyn]
Name: pickup_borough, dtype: object

In [102]:
answer_2.apply(lambda x: x.sort())
answer_2.head()

date
2019-02-28                                [Queens]
2019-03-01    [Bronx, Brooklyn, Manhattan, Queens]
2019-03-02           [Brooklyn, Manhattan, Queens]
2019-03-03    [Bronx, Brooklyn, Manhattan, Queens]
2019-03-04    [Bronx, Brooklyn, Manhattan, Queens]
Name: pickup_borough, dtype: object

In [105]:
answer_2.iloc[2]

array(['Brooklyn', 'Manhattan', 'Queens'], dtype=object)

In [110]:
answer_2_2 = []
for i in range(len(answer_2)):
    s = ''
    for elem in answer_2.iloc[i]:
        s = ','.join([s, elem])
    answer_2_2.append(s)

In [111]:
answer_2_2

[',Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens',
 ',Bronx,Brooklyn,Manhattan,Queens']

In [74]:
answer = answer_1.join(answer_2, rsuffix='_r')
answer = answer.reset_index()
answer.columns = ['sell_date', 'num_sold', 'products']
answer.head()

    sell_date  num_sold                              products
0  2019-02-28         1                              [Queens]
1  2019-03-01         4  [Bronx, Brooklyn, Manhattan, Queens]
2  2019-03-02         3         [Brooklyn, Manhattan, Queens]
3  2019-03-03         4  [Bronx, Brooklyn, Manhattan, Queens]
4  2019-03-04         4  [Bronx, Brooklyn, Manhattan, Queens]

In [90]:
answer.products[1].tosring()

AttributeError: 'numpy.ndarray' object has no attribute 'tosring'

In [ ]:
z.

In [81]:
??z

Type:        ndarray
String form: ['Bronx' 'Brooklyn' 'Manhattan' 'Queens']
Length:      4
File:        c:\programdata\anaconda3\lib\site-packages\numpy\__init__.py
Docstring:
ndarray(shape, dtype=float, buffer=None, offset=0,
        strides=None, order=None)

An array object represents a multidimensional, homogeneous array
of fixed-size items.  An associated data-type object describes the
format of each element in the array (its byte-order, how many bytes it
occupies in memory, whether it is an integer, a floating point number,
or something else, etc.)

Arrays should be constructed using `array`, `zeros` or `empty` (refer
to the See Also section below).  The parameters given here refer to
a low-level method (`ndarray(...)`) for instantiating an array.

For more information, refer to the `numpy` module and examine the
methods and attributes of an array.

Parameters
----------
(for the __new__ method; see Notes below)

shape : tuple of ints
    Shape of created array.
dtype : data-type, optional
    Any object that can be interpreted as a numpy data type.
buffer : object exposing buffer interface, optional
    Used to fill the array with data.
offset : int, optional
    Offset of array data in buffer.
strides : tuple of ints, optional
    Strides of data in memory.
order : {'C', 'F'}, optional
    Row-major (C-style) or column-major (Fortran-style) order.

Attributes
----------
T : ndarray
    Transpose of the array.
data : buffer
    The array's elements, in memory.
dtype : dtype object
    Describes the format of the elements in the array.
flags : dict
    Dictionary containing information related to memory use, e.g.,
    'C_CONTIGUOUS', 'OWNDATA', 'WRITEABLE', etc.
flat : numpy.flatiter object
    Flattened version of the array as an iterator.  The iterator
    allows assignments, e.g., ``x.flat = 3`` (See `ndarray.flat` for
    assignment examples; TODO).
imag : ndarray
    Imaginary part of the array.
real : ndarray
    Real part of the array.
size : int
    Number of elements in the array.
itemsize : int
    The memory use of each array element in bytes.
nbytes : int
    The total number of bytes required to store the array data,
    i.e., ``itemsize * size``.
ndim : int
    The array's number of dimensions.
shape : tuple of ints
    Shape of the array.
strides : tuple of ints
    The step-size required to move from one element to the next in
    memory. For example, a contiguous ``(3, 4)`` array of type
    ``int16`` in C-order has strides ``(8, 2)``.  This implies that
    to move from element to element in memory requires jumps of 2 bytes.
    To move from row-to-row, one needs to jump 8 bytes at a time
    (``2 * 4``).
ctypes : ctypes object
    Class containing properties of the array needed for interaction
    with ctypes.
base : ndarray
    If the array is a view into another array, that array is its `base`
    (unless that array is also a view).  The `base` array is where the
    array data is actually stored.

See Also
--------
array : Construct an array.
zeros : Create an array, each element of which is zero.
empty : Create an array, but leave its allocated memory unchanged (i.e.,
        it contains "garbage").
dtype : Create a data-type.
numpy.typing.NDArray : A :term:`generic <generic type>` version
                       of ndarray.

Notes
-----
There are two modes of creating an array using ``__new__``:

1. If `buffer` is None, then only `shape`, `dtype`, and `order`
   are used.
2. If `buffer` is an object exposing the buffer interface, then
   all keywords are interpreted.

No ``__init__`` method is needed because the array is fully initialized
after the ``__new__`` method.

Examples
--------
These examples illustrate the low-level `ndarray` constructor.  Refer
to the `See Also` section above for easier ways of constructing an
ndarray.

First mode, `buffer` is None:

>>> np.ndarray(shape=(2,2), dtype=float, order='F')
array([[0.0e+000, 0.0e+000], # random
       [     nan, 2.5e-323]])

Second mode:

>>> np.ndarray((2,), buffer=np.array([1,2,3]),
...            offset=np.int_().itemsize,
...            dtype=int) # offset = 1*itemsize, i.e. skip first element
array([2, 3])