Задачи из: https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()
pd.set_option('display.max_columns', None)

#01 595. Big Countries

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[['name', 'population', 'area']][(world.population >= 25000000) | (world.area >= 3000000)]

#02 1757. Recyclable and Low Fat Products

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.query("low_fats == 'Y' & recyclable == 'Y'").loc[:, 'product_id':'product_id']

#03 183. Customers Who Never Order

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(customers, orders, left_on='id', right_on='customerId', suffixes=['_c', '_o'], how='left')
    return df[df.id_o.isna()].loc[:, 'name':'name'].rename(columns={'name': 'Customers'})

#04 1148. Article Views I

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame(np.sort(views.query("author_id == viewer_id").author_id.unique()), columns=['id'])

#05 1683. Invalid Tweets

In [9]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets.content.str.len() > 15][['tweet_id']]

#06 1873. Calculate Special Bonus

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = 0
    employees['bonus'][(employees.employee_id  % 2) & (~employees.name.str.startswith('M'))] = employees.salary
    return employees[['employee_id', 'bonus']].sort_values('employee_id')

#07 1667. Fix Names in a Table

In [8]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.str.lower().str.capitalize()
    return users.sort_values('user_id')

#08 1517. Find Users With Valid E-Mails

In [ ]:
import pandas as pd

def validate(df: pd.DataFrame):
    N = df.shape[0]
    leetcode = pd.Series([False] * N, dtype='bool')
    valid = pd.Series([False] * N, dtype='bool')
    for i in range(df.shape[0]):
        if df.loc[i, 'mail'][-13:] == '@leetcode.com':
            leetcode[i] = True
            for char in df.loc[i, 'mail'][:-13]:
                if df.loc[i, 'mail'][0].isalpha():
                    if not (char.isalnum() or char in '_-.'):
                        valid[i] = False
                        break
                else:
                    valid[i] = False
                    break
            else:
                valid[i] = True
    return leetcode & valid

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[validate(users)]

In [40]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [41]:
df['mail'] = df.index.astype('str') + '@' + df.color + '.com'
df.head(1)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,mail
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.6,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,0@yellow.com

In [ ]:
df.mail[(df.mail.str[-10:] == '@green.com') & re.match('[_\-.A-Za-z0-9]', df.mail.str[:-10]).group(0).astype('bool')]

In [61]:
N = df.shape[0]
leetcode = pd.Series([False] * N, dtype='bool')
valid = pd.Series([False] * N, dtype='bool')
for i in range(df.shape[0]):
    if df.loc[i, 'mail'][-10:] == '@green.com':
        leetcode[i] = True
        for char in df.loc[i, 'mail'][:-10]:
            if not (char.isalnum() or char in '_-.'):
                valid[i] = False
                break
        else:
            valid[i] = True
leetcode & valid

0       False
1       False
2       False
3       False
4       False
        ...
6428     True
6429     True
6430     True
6431     True
6432     True
Length: 6433, dtype: bool

In [59]:
valid

0       False
1       False
2       False
3       False
4       False
        ...
6428     True
6429     True
6430     True
6431     True
6432     True
Length: 6433, dtype: bool

In [36]:
df['bonus'] = 0
df['bonus'][(df.passengers % 2 == 0) & (df.pickup_borough.str.startswith('M'))] = df.total
df

<ipython-input-36-7ff5ee725f98>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['bonus'][(df.passengers % 2 == 0) & (df.pickup_borough.str.startswith('M'))] = df.total

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,bonus
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,0.0
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,0.0
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,0.0
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,0.0
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,0.0
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,0.0
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,0.0
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,0.0
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,0.0

    fare
0    5.0
1    7.0
2    8.0
3   10.0
4   11.0
5   12.0
6   20.0
7   25.0
8   28.0
9   35.0
10  55.0
11  72.0

In [25]:
customers = pd.DataFrame({'id': [1, 2, 3, 4], 'name': ['Joe', 'Henry', 'Sam', 'Max']})
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [26]:
orders = pd.DataFrame({'id': [1, 2], 'customerId': [3, 1]})
orders

   id  customerId
0   1           3
1   2           1

In [48]:
df = pd.merge(customers, orders, left_on='id', right_on='customerId', suffixes=['_c', '_o'], how='left')
df = df[df.id_o.isna()].loc[:, 'name':'name'].rename(columns={'name': 'Customers'})
df

  Customers
1     Henry
3       Max