Задачи из: https://leetcode.com/studyplan/30-days-of-pandas/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()
pd.set_option('display.max_columns', None)

#01 595. Big Countries

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[['name', 'population', 'area']][(world.population >= 25000000) | (world.area >= 3000000)]

#02 1757. Recyclable and Low Fat Products

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    return products.query("low_fats == 'Y' & recyclable == 'Y'").loc[:, 'product_id':'product_id']

#03 183. Customers Who Never Order

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(customers, orders, left_on='id', right_on='customerId', suffixes=['_c', '_o'], how='left')
    return df[df.id_o.isna()].loc[:, 'name':'name'].rename(columns={'name': 'Customers'})

#04 1148. Article Views I

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame(np.sort(views.query("author_id == viewer_id").author_id.unique()), columns=['id'])

#05 1683. Invalid Tweets

In [9]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets.content.str.len() > 15][['tweet_id']]

#06 1873. Calculate Special Bonus

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = 0
    employees['bonus'][(employees.employee_id  % 2) & (~employees.name.str.startswith('M'))] = employees.salary
    return employees[['employee_id', 'bonus']].sort_values('employee_id')

#07 1667. Fix Names in a Table

In [8]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users.name = users.name.str.lower().str.capitalize()
    return users.sort_values('user_id')

#08 1517. Find Users With Valid E-Mails

In [ ]:
import pandas as pd

def validate(df: pd.DataFrame):
    N = df.shape[0]
    leetcode = pd.Series([False] * N, dtype='bool')
    valid = pd.Series([False] * N, dtype='bool')
    for i in range(df.shape[0]):
        if df.loc[i, 'mail'][-13:] == '@leetcode.com':
            leetcode[i] = True
            for char in df.loc[i, 'mail'][:-13]:
                if df.loc[i, 'mail'][0].isalpha():
                    if not (char.isalnum() or char in '_-.'):
                        valid[i] = False
                        break
                else:
                    valid[i] = False
                    break
            else:
                valid[i] = True
    return leetcode & valid

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    return users[validate(users)]

#09 1527. Patients With a Condition

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    return patients[patients.conditions.apply(lambda x: 'DIAB1' in str(x)[:5] or ' DIAB1' in str(x))]

#10 177. Nth Highest Salary

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if N > df1.shape[0]:
        nlarg = np.nan
    else:
        nlarg = df1[N - 1]
    return pd.DataFrame(data={f'getNthHighestSalary({N})': [nlarg]})

#11 176. Second Highest Salary

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df1 = employee.salary.unique()
    df1.sort()
    df1 = df1[::-1]
    if df1.shape[0] < 2:
        nlarg = None
    else:
        nlarg = df1[1]
    return pd.DataFrame(data={'SecondHighestSalary': [nlarg]})

#14 196. Delete Duplicate Emails

In [ ]:
import pandas as pd

# Modify Person in place
def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values('id', inplace=True)
    person.drop_duplicates(subset=['email'], inplace=True)

#15 1795. Rearrange Products Table

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    df1 = products.set_index('product_id')
    df1 = df1.stack()
    df1 = df1.reset_index()
    df1 = df1.dropna()
    df1.columns = ['product_id', 'store', 'price']
    return df1

#16 2082. The Number of Rich Customers

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({'rich_count': [(store.groupby('customer_id').amount.max() > 500).sum()]})

In [4]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [15]:
pd.DataFrame({'rich_count': [(df.groupby('pickup_borough').total.max() > 100).sum()]})

   rich_count
0           2