In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests

In [2]:
sns.set()
pd.set_option('display.max_columns', None)

https://sunrise-sunset.org/api

In [8]:
URL = 'https://api.sunrise-sunset.org/json'

In [16]:
params = {
    'lat': '36.7201600',
    'lng': '-4.4203400',
    'date': '2023-02-23'
}

In [17]:
response = requests.get(URL, params=params)

In [21]:
sunrise_dict = response.json()
sunrise_dict

{'results': {'sunrise': '6:55:04 AM',
  'sunset': '6:07:00 PM',
  'solar_noon': '12:31:02 PM',
  'day_length': '11:11:56',
  'civil_twilight_begin': '6:30:16 AM',
  'civil_twilight_end': '6:31:47 PM',
  'nautical_twilight_begin': '6:00:11 AM',
  'nautical_twilight_end': '7:01:53 PM',
  'astronomical_twilight_begin': '5:30:14 AM',
  'astronomical_twilight_end': '7:31:50 PM'},
 'status': 'OK'}

In [22]:
sunrise_dict['results']['day_length']

'11:11:56'

In [26]:
pd.DataFrame([sunrise_dict['results']])
# а почему нельзя без внешних квадратных скобок?

,sunrise,sunset,solar_noon,day_length,civil_twilight_begin,civil_twilight_end,nautical_twilight_begin,nautical_twilight_end,astronomical_twilight_begin,astronomical_twilight_end
0,6:55:04 AM,6:07:00 PM,12:31:02 PM,11:11:56,6:30:16 AM,6:31:47 PM,6:00:11 AM,7:01:53 PM,5:30:14 AM,7:31:50 PM