In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('exoplanetsorg210111-2.csv', header=0)
df

,name,m_sin_i__jupiter,axis_semi_major__au,period_orbital__day,eccenricity_orbital,w__deg,periastron_time__jd,velocity_semiaplitude__ms,reference_orbit,reference_first
0,Kepler-107 d,NaN,0.078010,7.958203,NaN,90.0,2.454971e+06,NaN,Rowe 2014,Rowe 2014
1,Kepler-1049 b,NaN,0.034472,3.273461,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
2,Kepler-813 b,NaN,0.137610,19.129473,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
3,Kepler-427 b,0.310432,0.091351,10.290994,0.0,90.0,2.454970e+06,29.8,Hebrard 2014,Borucki 2010
4,Kepler-1056 b,NaN,0.185149,27.495606,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
...,...,...,...,...,...,...,...,...,...,...
5742,KOI 7978.01,NaN,0.082100,7.268182,0.0,NaN,NaN,NaN,NaN,NaN
5743,KOI 7982.01,NaN,1.028700,376.379890,0.0,NaN,NaN,NaN,NaN,NaN
5744,KOI 8193.01,NaN,0.995500,367.947848,0.0,NaN,NaN,NaN,NaN,NaN
5745,KOI 7986.01,NaN,0.029000,1.739849,0.0,NaN,NaN,NaN,NaN,NaN
5746,KOI 7988.01,NaN,1.223300,333.486169,0.0,NaN,NaN,NaN,NaN,NaN

In [12]:
df.isna().sum()

name                            0
m_sin_i__jupiter             4777
axis_semi_major__au           120
period_orbital__day            14
eccenricity_orbital           963
w__deg                       2714
periastron_time__jd          4050
velocity_semiaplitude__ms    4764
reference_orbit              2488
reference_first              2484
dtype: int64